/*CATALOGUE PRODUIT*/

/*La recherche d'item*/
.searchContainer {
  max-width: 412px;

  display: grid;
  grid-template-columns: 200px auto 50px;
  align-items: center;
}

.searchContainer input {
  width: 320px;
  background-color: white !important;
  color: var(--primary-color) !important;
}

.optionsRecherche input {
  width: 30px;
}

.optionsRecherche i {
  font-size: 15px;
}

#formFiltre input>i {
  font-size: 25px;
  padding: 10px;

}

.searchContainerIcone {
  font-size: 40px;
  padding-left: 10px;
}

.textFilter {
  margin-left: 10px;
}

/*Container de tous les items*/
.containerTousItems {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;

}

.containerFlexIdNom {
  display: flex;
  align-items: baseline;

}

.containerFlexIdNom span {
  line-height: 30px;
}

.containerItem p,
.containerItem span,
.containerItem ul,
.containerItem li {
  font-family: var(--secondary-font);
  font-size: 12px;
}

/*Un item (grid)*/
.containerItem {
  margin-top: 30px;
  font-family: var(--secondary-font);
  font-size: 14px;
  max-width: 350px;

}

.containerItem p {
  font-size: 12px;
}

.containerItem p>span {
  font-size: 10px;
}

.idItem {
  border-radius: 55px;
  background: var(--primary-color);
  padding: 15px;
  width: 70px;
  height: 60px;
  text-align: center;
  font-family: var(--secondary-font);
  color: white;
  max-width: 60px;
}

.itemImage {
  border-radius: 25px;
  background: var(--primary-color);
  padding: 10px;
  height: 120px;
  background-position: center;
}

.itemImage div {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 9px;
  margin-left: 60px;
}

.itemPrix {
  color: var(--secondary-color);

}

.itemPrix span {
  font-size: 15px;

}

/*Bouton panier (ajouter au panier)*/
.containerItem button {
  font-size: 15px;
  border-radius: 10px;
  float: right;
  margin: 0px;
}

.prix {
  color: var(--secondary-color);
}

.buyButton {
  float: right;
  margin-top: -80px;
}

@media screen and (max-width: 400px) {
  .containerTousItems {
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .containerItem {
    max-width: 150px;
  }

  .itemImage div {
    margin-left: 3px;
  }
}

@media screen and (min-width: 400px) {
  .containerTousItems {
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .containerItem {
    max-width: 200px;
  }

  
}

@media screen and (min-width: 560px) {
  .containerTousItems {
    grid-template-columns: auto auto;
    gap: 20px;
  }
  .containerItem {
    max-width: 250px;
  }
}

@media screen and (min-width: 680px) {
  .containerTousItems {
    grid-template-columns: auto auto auto;
    gap: 10px;
  }

  .containerItem {
    max-width: 250px;
  }
}

@media screen and (min-width: 1300px) {
  .containerTousItems {
    grid-template-columns: auto auto auto auto;
    gap: 30px;
  }

  .containerItem {
    max-width: 250px;
  }

  .itemImage div {
    margin-left: 70px;
  }
}