table {
    width: 100%;
}

td, th {
    padding: 10px 50px;
    border: 1px solid black;
    text-align: center;
}

th {
    font-size: 24pt;
    background-color: var(--primary-color);
    color: white;
    user-select: none;
}

tr {
    font-size: 18pt;
}

tr:nth-child(odd) {
    background-color: aliceblue;
}

td:hover {
    box-shadow: 0px 0px 0px 3px inset var(--secondary-color);
    cursor: crosshair;
}

.refuse {
    color: red;
}

input {
    display: block;
    padding: 10px;
    border: none;
    margin: 30px auto;
    width: min-content;
}

.demandesContainer {
    margin: 0 auto;
    width: 500px;
}