/*DÉTAILS*/
.détailsContainer {
    display: flex;
}

.détailsContainerItem {
    margin: 10px;
    padding: 10px;
}

.détailsImg {
    border-radius: 25px;
    background: var(--primary-color);
    padding: 10px;
    height: 300px;
    width: 300px;
    background-position: center;
}

.détailsImg div {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 240px;
    height: 230px;
    border-radius: 9px;
    margin: auto;
}

.btnÉvaluerCommenter {
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin-top:15px;
    text-align: center;
    font-family: var(--secondary-font);
}

.btnÉvaluerCommenter a {
    font-family: var(--secondary-font);
    font-size: 10px;
}

.btnÉvaluerCommenter i {
    font-size: 15px;
}

.détailsContainerItem p {
    font-size: 16px;
    font-family: var(--secondary-font);
}
.détailsContainerItem span {
    font-size: 13px;
    font-family: var(--secondary-font);
}
.idItem {
    font-size: 16px !important;
}

.btnÉvaluerCommenter {
    color: white;
}

.btnDejaEvaluer {
    cursor: not-allowed !important;
    background-color: white;
    color: black;
    border: 3px solid var(--primary-color);
}

#commentForm {
    height: 200px;
}

.starsContainer {
    margin-bottom: 20px;
    cursor: default;
}

.etoile {
    background-color: transparent;
    padding: 0;
    height: 20px;
    cursor: pointer;
}

.etoileSel {
    color: orange;
}

@media screen and (max-width: 430px) {
   .détailsContainer{
    display:inline;
   }
   .containerFlexIdNom{
    margin-top:20px;
   }
}
  