/*CONNEXION*/
.loginForm {
    background-color: lightgray;
    height: 300px;
    width: 500px;
    margin: auto;
}

@media screen and (max-width: 550px) {
    .loginForm {
        width: 300px;
    }
}

.loginForm input {
    border: none;
    width: 80%;
    height: 40px;
    padding-left: 10px;
}

.loginForm input[type="submit"] {
    padding: 0;
    font-size:16px;
    font-family: var(--primary-font);
}

.loginForm div {
    padding: 20px;
}

.loginForm i {
    font-size: 40px;
    padding-right: 10px;
}

.loginForm input::placeholder {
    color: white;
    font-size: 16pt;
    font-family: var(--primary-font);
    padding: 10px;
}

.loginFormBtn {
    font-family: var(--primary-font);
    margin-left: 40px;
    margin-top: 60px;
}

/*INSCRIPTION*/
.signupForm {
    background-color: lightgray;
    height: 400px;
    width: 500px;
    margin: auto;
    padding-top: 20px;
}

.signupForm div {
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    margin: 0 auto 10px;
    width: 100%;
}

.signupForm input {
    border: none;
    height: 40px;
    width: 85%;
    padding-left: 10px;
}

.signupForm input[type="submit"] {
    padding: 0;
    font-size:16px;
    font-family: var(--primary-font);
}

.signupForm i {
    font-size: 30px;
    padding-left: 12px;
}

.signupForm input::placeholder {
    color: white;
    font-size: 16pt;
    font-family: var(--primary-font);
    padding: 10px;
}

.signupFormBtn {
    display: block;
    font-family: var(--primary-font);
    margin: 20px auto 0;
    width: 250px;
}

@media screen and (max-width: 550px) {
    .signupForm {
        width: 300px;
    }

    .signupForm i {
        visibility: hidden;
        padding: 0;
    }
}