/*Les fonts et couleurs*/
@font-face {
  font-family: Bahianita;
  src: url("../ressources/Bahianita-Regular.ttf");
}

@font-face {
  font-family: PressStart2P;
  src: url("../ressources/PressStart2P-Regular.ttf");
}

:root {
  --primary-color: #394a6d;
  --secondary-color: #3c9d9b;
  --notification-color: #52de97;
  --primary-font: Bahianita;
  --secondary-font: PressStart2P;
}

/*CSS général*/
* {
  font-family: var(--primary-font);
  letter-spacing: 2px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  color: white;
}

main {
  margin: 30px;
}

input,
label,
p,
ul,
li {
  font-size: 14pt;
}

ul,
li {
  font-family: var(--secondary-font);
}

/*Les forms*/
.form-parent {
  margin: 0 auto;
  width: 600px;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

form input {
  background-color: var(--primary-color) !important;
  color: white !important;
  font-family: initial;
  font-family: initial;
}

.form-floating>input+label:after {
  background: transparent !important;
}
/*La recherche d'item*/
.searchContainer {
  max-width: 412px;

  display: grid;
  grid-template-columns: 180px auto 50px;
  align-items: center;
}

.searchContainer input {
  width: 320px;
  background-color: white !important;
  color: var(--primary-color) !important;
}
.optionsRecherche input{
  width:30px;
}
.optionsRecherche i{
  font-size:15px;
}
.searchContainer i {
  font-size: 40px;
  padding: 10px;
}

