@font-face {
    font-family: Bahianita;
    src: url('../ressources/Bahianita-Regular.ttf');
}

@font-face {
    font-family: PressStart2P;
    src: url('../ressources/PressStart2P-Regular.ttf');
}

/*  UTILISEZ LES VARIABLES!!!!!! 
    Example: background-color: var(--primary-color);
*/

:root {
    --primary-color: #394A6D;
    --secondary-color: #3C9D9B;
    --notification-color: #52DE97;
    --primary-font: Bahianita;
    --secondary-font: PressStart2P;
}

* {
    font-family: var(--primary-font);
    letter-spacing: 2px;
}

header {
    margin: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #333;
}

button{
    background-color: var(--primary-color);
    border: none;
    padding:12px 16px;
    text-align:right;
    font-size: 15px;
}   
.buttonOnSide{
    float:right;
    
}

a{
    color:var(--primary-color);
    text-decoration: none;
    color:white;
}


main {
    margin: 100px;
}

input, label, p {
    font-size: 14pt;
    max-width:50px;
}

.form-parent {
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
}

form input {
    background-color: var(--primary-color) !important;
    color: white !important;
   
}
.form-control input {
    max-width:10px !important;
}
form label {
    color: white !important;
}

.form-floating > input + label:after {
   background: transparent !important;
}

.searchContainer{
    max-width: 412px;
    display: grid;
    grid-template-columns: auto 40px;
    align-items: top;
}

.searchContainer input {
    margin-bottom: 0 !important;
    width:70px !important;
}